.body{
    margin: 50px;
}

h1 {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}

#outputs {
    padding: 20px 0px 10px 0px;
}

.tableHead {
    text-align: center;
}
.budget{
    background-color: #f2f2f2;
    padding: 10px;
    display: flex;
}
.budget > div{
    flex: 1;
}