.body{
    margin: 50px;
}

h1 {
    background-image: url("image_001.jpeg");
    background-repeat: no-repeat;
    background-size: 60% auto;
    background-position: center;
    padding: 50px;
    text-align: center;
}
h4 {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}
#inputs {
    align-content: center;
}
#outputs {
    padding: 20px 0px 10px 0px;
}

.tableHead {
    text-align: center;
}
.budget{
    background-color: #f2f2f2;
    padding: 10px;
    display: flex;
}
.budget > div{
    flex: 2;
}